* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts.OpenSans-SemiBold.eot');
    src: url('../fonts.OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts.OpenSans-SemiBold.woff2') format('woff2'),
        url('../fonts.OpenSans-SemiBold.woff') format('woff'),
        url('../fonts.OpenSans-SemiBold.ttf') format('truetype'),
        url('../fonts.OpenSans-SemiBold.svg#OpenSans-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Merriweather';
    src: url('../fonts.Merriweather-Light.eot');
    src: url('../fonts.Merriweather-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts.Merriweather-Light.woff2') format('woff2'),
        url('../fonts.Merriweather-Light.woff') format('woff'),
        url('../fonts.Merriweather-Light.ttf') format('truetype'),
        url('../fonts.Merriweather-Light.svg#Merriweather-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts.Roboto-Medium.eot');
    src: url('../fonts.Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts.Roboto-Medium.woff2') format('woff2'),
        url('../fonts.Roboto-Medium.woff') format('woff'),
        url('../fonts.Roboto-Medium.ttf') format('truetype'),
        url('../fonts.Roboto-Medium.svg#Roboto-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    color: white;
    background: #fff;
    line-height: 1.5;
    font-family: "Merriweather", sans-serif;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.header {
    width: 100%;
    position: relative;
    background-image: url(../img/bg.png);
    background-attachment: fixed;
    background-size: cover;
    z-index: 1;
}

.header:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #202020;
    opacity: 0.6;
}

.header__row {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.header__title {
    width: 700px;
    margin-top: 200px;
    text-align: center;
    height: 250px;
    position: relative;
}

.border__1 {
    top: 0;
    left: 0;
    height: 5px;
    width: 2px;
    background-color: white;
    position: absolute;
    animation: move_1 4s;
    animation-fill-mode: forwards;
}

.border__2 {
    top: 0;
    right: 0;
    height: 2px;
    width: 5px;
    background-color: white;
    position: absolute;
    animation: move_2 4s;
    animation-fill-mode: forwards;
}

.border__3 {
    bottom: 0;
    right: 0;
    height: 5px;
    width: 2px;
    background-color: white;
    position: absolute;
    animation: move_1 4s;
    animation-fill-mode: forwards;
}

.border__4 {
    bottom: 0;
    left: 0;
    position: absolute;
    height: 2px;
    width: 5px;
    background-color: white;
    position: absolute;
    animation: move_2 4s;
    animation-fill-mode: forwards;
}

@keyframes move_1 {
    0% {
        height: 5px;
    }

    100% {
        height: 250px;
    }
}

@keyframes move_2 {
    0% {
        width: 5px;
    }

    100% {
        width: 700px;
    }
}

.title__text {
    font-size: 55px;
    line-height: 90px;
    color: #ffffff;
    font-family: "Merriweather";
    text-align: center;
    margin-top: 25px;
}

.title__orange {
    text-decoration: none;
    color: #f7ac53;
}

.header__menu {
    height: 250px;
    padding-top: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.nav__list {
    display: flex;
}

.menu__link {
    text-decoration: none;
    color: white;
}

.list__item {
    margin-left: 20px;
    list-style: none;
}

.list__item:nth-child(2):after,
.list__item:nth-child(1):after {
    content: '';
    position: absolute;
    text-align: center;
    margin-left: 9px;
    width: 2px;
    height: 15px;
    margin-top: 5px;
    background-color: #6d5539;
}

.arrow__down {
    color: orange;
    position: absolute;
    bottom: 150px;
    animation: move_3 5s;
    opacity: 1;
    animation-fill-mode: forwards;
}

@keyframes move_3 {
    0% {
        bottom: 150px;
        opacity: 1;
    }

    100% {
        bottom: 0px;
        opacity: 0;
    }
}

.header__bottom {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.touch__text {
    text-decoration: none;
    color: white;
}

.business {
    background-color: #202020;
    width: 100%;
    position: relative;
}

.business__row {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 100%;
}

.business__top {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.business__title {
    width: 1501px;
    font-size: 40px;
    line-height: 45px;
    color: #ffffff;
    font-family: "Merriweather";
    text-align: center;
    margin-top: 150px;
    transition: all 4s ease;
}

.business__title__span {
    position: absolute;
    height: 0px;
    width: 2px;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    background-color: orange;
    animation: move_4 4s;
    animation-fill-mode: forwards;
}

.business__title__drop {
    position: absolute;
    top: 30px;
    font-size: 14px;
    line-height: 40px;
    text-transform: uppercase;
    color: #feb960;
    font-weight: 600;
    font-family: "Open Sans";
    text-align: center;
    opacity: 0;
    animation: move_5 3s;
    animation-fill-mode: forwards;
}

@keyframes move_4 {
    0% {
        height: 0px;
    }

    100% {
        height: 110px;
    }
}

@keyframes move_5 {
    0% {
        top: 10px;
        opacity: 0;
    }

    100% {
        top: 105px;
        opacity: 1;
    }
}

.business__content {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    padding: 100px;
}

.content__blok {
    width: 25%;
}

.content__link {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    line-height: 50px;
}

.content__text {
    font-size: 14px;
    line-height: 27px;
    color: #bbbbbb;
    font-weight: 400;
    font-family: "Open Sans";
    margin-top: 20px;
} 

.content__title {
    font-size: 30px;
    line-height: 65px;
    color: #ffffff;
    font-family: "Merriweather";
}

.project {
    width: 100%;
    position: relative;
    padding: 150px 0;
    background-color: #181818;
}

.project__row {
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    position: relative;
    align-items: center;
}

.project__img {
    width: 100%;
    height: 525px;
    position: relative;
    text-align: center;
}

.project__jpg {
    width: 70%;
    height: 525px;
    object-fit: cover;
}

.span__top {
    top: 0;
    left: 0;
    position: absolute;
    width: 2px;
    height: 1px;
    background-color: orange;
}

.span__bottom {
    bottom: 0;
    right: 150px;
    position: absolute;
    width: 1px;
    height: 1px;
    background-color: orange;
}

.project__img.aos-animate .span__top {
    animation: move_6 3s;
    animation-fill-mode: forwards; 
}

.project__img.aos-animate .span__bottom {
    animation: move_6 3s;
    animation-fill-mode: forwards; 
}

.project__top__text{
    font-size: 14px;
    line-height: 40px;
    text-transform: uppercase;
    color: #feb960;
    font-weight: 600;
    font-family: "Open Sans";
    position: absolute;
    top: 100px;
    left: 0;
}

.project__title {
    font-size: 55px;
    line-height: 65px;
    color: #ffffff;
    font-family: "Merriweather";
    top: 150px;
    position: absolute;
    left: 0;
    filter: drop-shadow(0 0 5px rgba(24,24,24,0.5));
}

 .project__bottom__text{
    position: absolute;
    font-size: 14px;
    line-height: 28px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
    font-family: "Open Sans";
    text-align: right;
    bottom: 150px;
    right: 25px;
 }

  .project__bottom__text_m{
    position: absolute;
    font-size: 14px;
    line-height: 28px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
    font-family: "Open Sans";
    text-align: right;
    bottom: 120px;
    right: 60px;
 }

@keyframes move_6 {
    0% {
        height: 1px;
    }

    100% {
        height: 100px;
    }
}

.project__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    width: 35%;
}

.list__span {
    width: 40px;
    height: 3px;
    background-color: grey;
    cursor: pointer;
}

.list__span:hover {
    background-color: orange;
}

.companies {
    width: 100%;
    position: relative;
    background-color: #202020;
    text-align: center;
}

.companies__row {
    display: flex;
    width: 100%;
    position: relative;
    flex-direction: column;
    align-items: center;
}

.companies__top {
    width: 60%;
    text-align: center;
    padding: 100px 0;
}

.companies__text {
    font-size: 14px;
    line-height: 40px;
    text-transform: uppercase;
    color: #feb960;
    font-weight: 600;
    font-family: "Open Sans";
    text-align: center;
}

.companies__title {
    font-size: 40px;
    line-height: 65px;
    color: #ffffff;
    font-family: "Merriweather";
    text-align: center;
}

.companies__span {
    width: 2px;
    height: 1px;
    position: absolute;
    background-color: orange;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.companies__top.aos-animate .companies__span {
    animation: move_6 3s;
    animation-fill-mode: forwards; 
}

.companies__link {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 80px 0;
}

.companies__testimonails {
    width: 60%;
    position: relative;
    display: flex;
    background-color: #181818;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 100px 50px 100px;
}

.test__block {
    margin-top: 50px;
    font-size: 17px;
    line-height: 35px;
    color: #bbbbbb;
    font-family: "Merriweather";
    text-align: center;
}

.companies__testimonails img {
    height: 100px;
    width: 100px;
    object-fit: cover;
}

.test__name {
    font-size: 14px;
    line-height: 35px;
    text-transform: uppercase;
    color: #feb960;
    font-weight: 600;
    font-family: "Open Sans";
    text-align: center; 
    margin-top: 30px;
}

.test__name:after {
    content: '';
    width: 150px;
    height: 2px;
    background-color: #474747;
    position: absolute;
    bottom: 100px;
    right: 100px;
}

.test__name:before {
    content: '';
    width: 150px;
    height: 2px;
    background-color: #474747;
    position: absolute;
    bottom: 100px;
    left: 100px;
}

.test__adress {
    font-size: 13px;
    line-height: 35px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Open Sans";
    text-align: center;
}

.companies__list {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding: 50px 0 200px 0;
}

.team {
    width: 100%;
    position: relative;
    text-align: center;
    background-color: #181818;
}

.team__row {
    display: flex;
    width: 100%;
    position: relative;
    flex-direction: column;
    align-items: center;
}

.team__top {
    width: 60%;
    text-align: center;
    padding: 100px 0;
}

.team__text {
    font-size: 14px;
    line-height: 40px;
    text-transform: uppercase;
    color: #feb960;
    font-weight: 600;
    font-family: "Open Sans";
    text-align: center;
}

.team__title {
    font-size: 40px;
    line-height: 65px;
    color: #ffffff;
    font-family: "Merriweather";
    text-align: center;
}

.team__span {
    width: 2px;
    height: 1px;
    position: absolute;
    background-color: orange;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.team__top.aos-animate .team__span {
    animation: move_6 3s;
    animation-fill-mode: forwards; 
}

.team__content {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 100px 0;
}

.team__person {
    width: 25%;
    height: 300px;
    border: 1px solid #202020;
    border-bottom: none;
    position: relative;
    overflow: hidden;
}

.team__person img{
    height: 120px;
    width: 120px;
    border-radius: 60px;
    cursor: pointer;
    transition: 0.6s;
    overflow: hidden;
}

.team__person:nth-child(4n + 1) {
    border-left: none;
}

.team__person:nth-child(4n + 4) {
    border-right: none;
}

.team__person:nth-child(-n + 4) {
    border-top: none;
}

.person__name {
    font-size: 14px;
    text-transform: uppercase;
    color: #feb960;
    font-weight: 600;
    font-family: "Open Sans";
    text-align: center;
    margin-top: 15px;
    transition: 0.6s;
}

.person__man {
    font-size: 13px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Open Sans";
    text-align: center;
    transition: 0.6s;
}

.person__figcaption {
    z-index: -1;
    position: absolute;
    transition: all 0.9s;
    opacity: 0;
    width: 70%;
    top: 100%;
}

.team__person:hover img{
    width: 70px;
    height: 70px;
    position: absolute;
    top: 0;
    left: 0;
}

.team__person:hover .person__man{
    position: absolute;
    transform: rotate(90deg);
    top: 135px;
    left: 0;
}

.team__person:hover .person__name{
    position: absolute;
    transform: rotate(90deg);
    top: 135px;
    left: 10px;
    margin-top: 0;
}

.team__person:hover .person__figcaption{
    z-index: 1;
    opacity: 1;
    right: 0;
    top: 0;
}

.person__span1 {
    width: 0;
    height: 1px;
    background-color: orange;
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
}

.person__span2 {
    width: 1px;
    height: 0;
    background-color: orange;
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
}

@keyframes move_8{
    0% {
        width: 0;
    }
    100% {
        width: 80px;
    }
}

@keyframes move_9{
    0% {
        height:  0;
    }
    100% {
        height: 80px;
    }
}

.team__person:hover .person__span1{
    animation: move_8 0.6s;
    animation-fill-mode: forwards;
}

.team__person:hover .person__span2{
    animation: move_9 0.6s;
    animation-fill-mode: forwards;
}

.contact {
    width: 100%;
    position: relative;
    text-align: center;
    background-color: #353535;
    padding-bottom: 100px;
}

.contact__row {
    display: flex;
    width: 100%;
    position: relative;
    flex-direction: column;
    align-items: center;
}

.contact__top {
    width: 60%;
    text-align: center;
    padding: 100px 0;
}

.contact__text {
    font-size: 14px;
    line-height: 40px;
    text-transform: uppercase;
    color: #feb960;
    font-weight: 600;
    font-family: "Open Sans";
    text-align: center;
}

.contact__title {
    font-size: 40px;
    line-height: 65px;
    color: #ffffff;
    font-family: "Merriweather";
    text-align: center;
}

.contact__span {
    width: 2px;
    height: 1px;
    position: absolute;
    background-color: orange;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.contact__top.aos-animate .contact__span {
    animation: move_6 3s;
    animation-fill-mode: forwards; 
}

.contact__form {
    width: 50%;
    height: 500px;
    background-color: #181818;
    display: flex;
    flex-direction: column;
    position: relative;
}

.contact__blok {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 70px;
}

.contact__blok input {
    width: 40%;
    height: 25px;
    background-color: #181818;
}

.contact__blok #message {
    width: 90%;
}

label[for="name"] {
    position: absolute;
    top: -10px;
    left: 30px;
    font-size: 18px;
    text-transform: uppercase;
    transition: all 0.5s;
}

label[for="email"] {
    position: absolute;
    top: -10px;
    right: 150px;
    font-size: 18px;
    text-transform: uppercase;
    transition: all 0.5s;
}

label[for="company"] {
    position: absolute;
    top: -10px;
    left: 30px;
    font-size: 18px;
    text-transform: uppercase;
    transition: all 0.5s;
}

label[for="subject"] {
    position: absolute;
    top: -10px;
    right: 180px;
    font-size: 18px;
    text-transform: uppercase;
    transition: all 0.5s;
}

label[for="message"] {
    position: absolute;
    top: -10px;
    left: 30px;
    font-size: 18px;
    text-transform: uppercase;
    transition: all 0.5s;
}

input:focus {
    outline: none;
    color: white;
}

input:focus + label{
    color: orange;
    font-size: 10px;
}

#name:focus ~ .form__span1 {
    width: 40%;
}

#company:focus ~ .form__span1 {
    width: 40%;
}

#email:focus ~ .form__span2 {
    width: 40%;
}

#subject:focus ~ .form__span2 {
    width: 40%;
}

#message:focus ~ .form__span3 {
    width: 90%;
}

#message {
    width: 100%;
}

.form__span1 {
    position: absolute;
    width: 0;
    height: 2px;
    background-color: orange;
    top: 23px;
    left: 28px;
    transition: all 0.8s;
}

.form__span2 {
    position: absolute;
    width: 0;
    height: 2px;
    background-color: orange;
    top: 23px;
    right: 29px;
    transition: all 0.8s;
}

.form__span3 {
    position: absolute;
    width: 0;
    height: 2px;
    background-color: orange;
    transition: all 0.8s;
    top: 23px;
    left: 29px;
}

.form__submit {
    width: 220px;
    height: 60px;
    background-color: #feb960;
    margin-top: 100px;
    text-transform: uppercase;
    cursor: pointer;
}

.footer {
    width: 100%;
    background-color: #353535;
    position: relative;
    padding-bottom: 100px;
}

.footer .container {
    max-width: 750px
}

.footer__row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer__logo img {
    width: 50px;
    height: 50px;
}

.footer__logo {
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.footer__york {
    width: 25%;
    height: 150px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
}

.footer__links {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer__links a {
    color: white;
    text-decoration: none;
}

.footer__title {
    font-size: 16px;
    line-height: 40px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
    font-family: "Open Sans";
}

.footer__text {
    font-size: 14px;
    color: #ffffff;
    font-weight: 600;
    font-family: "Open Sans";
    text-decoration: none;
}
















